
@import url(https://fonts.googleapis.com/css?family=Epilogue:400,800);
@import url("reset.css");
@import url("fonts.css"); 


.wrapper {
min-height: 100%;
overflow:hidden;
}

body {background-color:#28293E;}
footer{background-color:#28293E;}

h1 {font-family: Epilogue;
color: #FFF;
font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: 114.286%;
text-align: center;
padding-top: 15px;
margin-bottom: 30px;}

footer {font-family: Epilogue;
color: #FFF;
font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: 114.286%;
text-align: center;
padding-top: 15px;
padding-bottom: 30px;}
[class*="__container"]{margin: 0 auto;
max-width: 1200px;
text-align: center;}

.portfolio__label
{color: #EF6D58;
text-align: center;
font-family: Epilogue;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height:  200% ;
letter-spacing: 3px;
text-transform: uppercase;
margin-bottom: 30px;}


.portfolio__name {
margin-bottom: 30px;
color: white;
text-align: center;

font-family: Epilogue;
font-size: 56px;
font-style: normal;
font-weight: 800;
line-height: 114.286%;
letter-spacing: -1px;}
  
.portfolio__content  { 
margin: 0 auto;
margin-bottom: 50px;
display: flex;
max-width: 574px;
flex-direction: row;
justify-content:space-between;
gap:20px;
flex-wrap: wrap;


}
.portfolio {margin-bottom: 192px;}

.content__item {color: #FFF;
font-family: Epilogue;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 200%;}


/* стилі для блоку */
.cards {
background-color: #28293e;
color: #ffffff;
padding: 50px 0;
}

.cards__container {
max-width: 1200px;
display: flex;
justify-content: center ;
gap: 30px;
flex-wrap: wrap;
padding-inline: 15px;
margin-inline: auto;
margin-bottom: 64px;
}

/* картка */
.card {
position: relative;
flex-basis: 470px;
min-height: 416px;
display: flex;
align-items: flex-end;
}

.card--wide {
position: relative;
flex-basis: 670px;
min-height: 416px;
display: flex;
align-items: flex-end;

}

.card img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 6px;
  object-fit: cover;
}

.card__content {
 
position: absolute;
z-index: 2;
padding-left: 40px;
padding-bottom: 51px;
}

.card__category {
width: fit-content;
padding: 5px 15px;
border-radius: 19px;
line-height: 2; 
color: #391400;
background-color: #fff;
  
font-family: Epilogue;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height:  200%;
margin-bottom: 25px;
}

.card__title {
color: #FFF;
font-family: Epilogue;
font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: 120%;
}

.button {position: relative;
overflow: hidden;
text-align: center;
z-index: 4;
border-radius: 6px;
border: 1px solid rgba(255, 255, 255, 0.30);
padding: 18px 30px;
font-size: 14px;
font-weight: 900;
text-transform: uppercase;
transition: all 0.3s linear 0.3s;}

.button {
 margin: 0 auto;
 max-width:170px;
padding-inline:31px ;
border: solid white 1px;
border-radius: 6px;
color: #FFF;
font-family: Epilogue;
font-size: 14px;
font-style: normal;
font-weight: 900;
line-height: normal;
text-transform: uppercase;
text-align: center;
}

.contact__wrapper{
padding-block-start: 95px;
padding-block-end: 70px;}


.contact__items {
border-radius: 6px;
padding-inline: 100px 83px;
display: flex;
flex-wrap: wrap;
gap: 5px;
align-items: center;
background-color: #FDF0E9;}
  
.contact__item--lady {width: 290px;}


.contact__container {max-width: 1170px;
padding-left: 95px;
padding-right: 80px;
padding-bottom: 70px;}


.contact__content {position: relative;
top: -80px}

.contact__title {
left: 82px;
top: 100px;
text-align: left;
color: #EF6D58;
font-family: Epilogue;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height:200%;
letter-spacing: 3px;
text-transform: uppercase;
margin-bottom: 20px;} 


.contact__text{
text-align: left;
max-width: 250px;
color: #391400;
font-family: Epilogue;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height:133.333%;
margin-bottom: 20px;
}  

.contact__button{
max-width: 100px;
padding: 20px 35px;
left: 82px; top: 250px;
border-radius: 5px;
background-color:#EF6D58;
color: #FFF;
text-align: center;
font-family: Epilogue;
font-size: 14px;
font-style: normal;
font-weight: 900;
line-height: normal;
text-transform: uppercase;
} 

.contact__image3 {

position: relative;
z-index: 1;
left: 140px;
margin-block-start: -60px;
transform: translateX(-50%);
max-width: 239px;
width: 100%; }

.contact__item--lady {
background: url("../img/path_svg.svg") 1px 75px no-repeat;}



.contact__image2 {width:100%;
height: 100%;
object-fit: cover;
border-radius: 6px;}

.events__block-wrapper {display: flex;
margin-bottom: 64px;
justify-content: space-between;
gap: 30px;
}



.events__name { color: #FFF;
text-align: center;
font-family: Epilogue;
font-size: 56px;
font-style: normal;
font-weight: 800;
line-height:114.286%;
letter-spacing: -1px;
margin-bottom: 50px;}


.events__title {color:#EF6D58;
text-align: center;

font-family: Epilogue;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 200%;
letter-spacing: 3px;
text-transform: uppercase;
margin-bottom: 20px;}

.events__date-wrapper {display: flex;
margin-bottom: 19px;}
.events__number{

color:  #FFF;

font-family: Epilogue;
font-size: 72px;
font-style: normal;
font-weight: 800;
line-height: 111.111%;
letter-spacing: -2px; 
margin-right: 20px;
margin-top: -5px ;
}

.events__date { 
color: #FFF;
font-family: Epilogue;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height:133.333%;
}

.events__time::before {background: url("../img/shape.svg")0 0 no-repeat;
content:"";
width: 16px;
height: 15px;
margin-right: 10px;}


.events__time{ color: #FFF;
font-family: Epilogue;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 200%;
margin-bottom: 36px;
  }

.events__border {border-bottom: solid 1px #FFF;
margin-bottom: 41px;}

.events__headline {color: #FFF;
  
font-family: Epilogue;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height:  133.333% ;
margin-bottom: 19px;}

.events__text {color: #FFF;
font-family: Epilogue;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 200%;
margin-bottom: 26px;
}

.events__link{
color: #FFF;
font-family: Epilogue;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 200%;}

.events__card-wrapper {display: flex;
flex-direction:column ;
max-width: 290px;
padding-inline:40px;
padding-top: 41px;
padding-bottom: 36px;

border: 1px solid #6A6C8E;
border-radius: 6px;
justify-content: space-between;
text-align: left;
margin-bottom: 24px;}

.events__container {
margin-bottom: 120px;}


.team__container {
margin-bottom: 244px;}

.team__block-wrapper {display: flex;
justify-content: space-between; gap: 10px;}

.team__card-wrapper {
display: flex;
flex-direction: column;
}

.item__photo-wrapper {
display: flex;
width:270px;
border: 1px solid #6A6C8E;
border-radius: 6px;
justify-content: center;
margin-bottom: 25px;
}

.item__photo { 
max-width: 100%;}

.team__name { color: #FFF;
text-align: left;
padding-left: 15px;
font-family: Epilogue;
font-size: 56px;
font-style: normal;
font-weight: 800;
line-height:114.286%;
letter-spacing: -1px;
margin-bottom: 50px;}
  
.team__title {
color:#EF6D58;
text-align: left;
padding-left: 15px;
  
font-family: Epilogue;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 200%;
letter-spacing: 3px;
text-transform: uppercase;
margin-bottom: 25px;}
  
.item__name {color: #FFF;
  
font-family: Epilogue;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height:  133.333% ;
align-self: flex-start;}

.item__position {color: #FFF;
font-family: Epilogue;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 200%;
align-self: flex-start;}

.founder__wrapper {
display: flex;
justify-content: space-between;
gap: 30px;}

.founder__content-wrapper {
display: flex; 
flex-direction: column;
background: url("../img/shape_citate.svg") 360px 47px no-repeat;
align-items: flex-start;}
       
.founder__photo-wrapper img {width: 570px;}
    
.content__title {
color:  #EF6D58;
font-family: Epilogue;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height:  200%; 
letter-spacing: 3px;
text-transform: uppercase;
margin-bottom: 33px; }
    
.content__citate  {
 max-width: 470px;
text-align: left;
color: #FFF;
font-family: Epilogue;
font-size: 40px;
font-style: normal;
font-weight: 800;
line-height:120%;
margin-bottom: 45px;
}
    
.content__name {
color:  #FFF;
font-family: Epilogue;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height:160%;
margin-bottom: 7px;}

.content__position {
color: #FFF;
font-family: Epilogue;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height:171.429%;}

